body {
  font-family: helvetica;
  background: #eee;
  text-align: center;
  margin: O;
  height: 100vh;
  cursor: url("https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/225/reversed-hand-with-middle-finger-extended_1f595.png"), default;
}
